.rotation {
    width: 100%;
    max-width: 1220px;
    display: flex;
}

.rotation-left {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 15px;
    background-color: #fafafa;
}

.rotation-left-title {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}


.rotation-main {
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
}



.rotation-right {
    width: 300px;
}

@media screen and (max-width: 375px) {
    .rotation {
        display: block;
    }

    .rotation>.rotation-left, .rotation>.rotation-main, .rotation>.rotation-right {

        width: 355px;
        margin: 10px;
    }

    .rotation>.rotation-right {
        display: none;
    }
}

.carousel-div {
    width: 400px;
    height: 600px;
    max-width: 0 auto;
    display: inline-block;
    position: relative;
}

.carousel-div-img {
    position: absolute;
    width: 100%;
    height: 100%;
}