.info-card-flex {
    display: flex;
}

.info-card-flex>.ant-card-cover {
    flex: 1;
    display: flex;
    align-items: center;
}

.info-card-flex>.ant-card-body {
    flex: 2;
}


.info-card {
    width: 200px;
    display: inline-block;
    margin: 5px !important;
}
.info-card  > .ant-card-cover{
    position: relative;
    width: 200px;
    height: 200px;
}
.info-card-img{
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 375px) {
    .info-card {
        width: calc(50% - 10px);
        display: inline-block;
        margin: 5px !important;
    }

    .info-card  > .ant-card-cover{
        position: relative;
        width: 100%;
        height: 200px;
    }
    .info-card-img{
        position: absolute;
        padding: 5px;
        width: 100%;
        height: 100%;
    }
}