.my-search {
    display: flex;
    background-color: #fff;
    border-bottom: solid 1px #eee;
    box-shadow: 5px 5px 5px #eee;
    position: relative;
}

.my-search-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    
}

.my-search-msg {
    flex: 1;
    padding: 0px 20px;
}


.my-search-div {
    width: 600px;
    margin: 10px auto;
}

.my-search-div>.my-search-div-input {
    border: 2px solid #FF5000;
    border-radius: 25px;
    padding: 5px;
    overflow: hidden;
}

.my-search-div>.my-search-div-input>input {
    width: calc(100% - 64px);
    margin-left: 10px;
    border: none;
}

.my-search-div>.my-search-div-input>input:focus {
    outline: none;
}

.my-search-div>.my-search-div-input>.my-search-div-input-button {
    display: inline-block;
    width: 50px;
    line-height: 26px;
    border: 2px solid #FF5000;
    background-color: #FF5000;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.my-search-div-msg {
    color: #999999;
}

.my-search-div-msg>span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.my-search-div-msg>span:hover {
    text-decoration: underline solid 1px #ccc;
}


@media screen and (max-width: 375px) {
    .my-search-item{
        position: absolute;
        height: 40px;
        top: 0px;
        width: 150px;
    }
    .logo{
        left: 0px;
    }
    .shop{
        right: 0px;
    }
    .my-search-msg {
        padding: 0;
        margin: 0;
        
    }
    .my-search-div {
        width: 250px;
        margin-top: 40px;
    }

    .my-search-div-msg {
        display: none;
    }


}