.app{
  width: 100%;
  min-width: 1440px;
}

.app-top {
  height: 120px;
  width: 100%;
  z-index: 999;
}

.app-main {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 375px) { 
  .app{
    width: 100%;
    min-width: 200px;
  }
  .app-main {
    width: 100%;
  }


}